<h1>About Page</h1>
<p id="description">Plenty of people go to fast-food chains, but somehow, they are not a popular review candidate. </br>
   However, if you visited many of these chain “restaurants”, you know there are a few things that differ.
 </p>
