<div class="container-fluid" id="index">
  <h1>Welcome to Fastview</h1>
  <h2>We help you find the best fast-food near you.</h2>
  <div class="row">
    <%= image_tag("burger-index.jpg", class: "img-responsive index-img") %>
  </div>
</div>
