html, body {
  height: 100%;
  margin: 0;
  background-color: #f4f4f4;
}

// NAVBAR
.navbar-style {
  background-color: #333333;
  border: none;
}
.navbar-inverse .navbar-nav li a {
  color: #B3B8BC;
}
.navbar-header .navbar-brand {
  color: #B3B8BC;
  text-transform: uppercase;
  font-weight: 400;
}

// PAGE
.page-wrap {
  min-height: 100%;
}
// ABOUT PAGE
#description {
  text-align: center;
  padding-top: 100px;
}
// FOOTER

.site-footer {
  // height: 40px;
  padding: 20px 0;
  background: #484848;
}
.site-footer p {
  float: right;
  padding: 10px;
  color: #FFF;
}

//TYPOGRAPHY

h1 {
  color: #3B3738;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}
h2 {
  color: #3B3738;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 72px;
  text-align: center;
}
h3 {
  color: #3B3738;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 72px;
  text-align: center;
}
p {
  color: #3B3738;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1em;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
}
